<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
    <h2>商品編集</h2>
    <%= render 'layouts/errors', obj: @item %>
    <%= render 'admin/items/form', item: @item, method:admin_item_path(@item) %>
  </div>
</div>

