<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
      <div class="row d-flex">
        <h4 class="bg-light">商品編集</h4>
      </div>
      <div class="m-4">
        <% if @item.errors.any? %>
          <h3 class="text-danger">
            <%= @message %>
          </h3>
        <% end %>
        <%= render 'admin/items/form', item: @item, method:admin_item_path(@item) %>
      </div>
  </div>
</div>

