<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-10 col-lg-10 px-5 px-sm-0 mx-auto">
      <h2 class="offset-1">商品詳細</h2>

      <div class="container">
        <div class="row">

          <div class="col-4">
            <%= image_tag 'no_image.jpg', size:"250x200" %>
          </div>

          <div class="col-8">

            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">商品名</th>
                  <td>
                    <!--%= @item.name %>-->a
                  </td>
                </tr>
                <tr>
                  <th scope="row">商品説明</th>
                  <td>
                    <!--%= @item.explanatory %>-->b
                  </td>
                </tr>
                <tr>
                  <th scope="row">ジャンル</th>
                  <td>
                    <!--%= @item.genre.name %>-->c
                  </td>
                </tr>
                <tr>
                  <th scope="row text-nowrap">税込価格<br>(税抜価格)</th>
                  <td>
                    <!--%= @item.with_tax_price %>(%= @item.price %>)円-->
                  </td>
                </tr>
                <tr>
                  <th scope="row text-nowrap">販売ステータス</th>
                  <td>
                    <!--% if @item.is_active == true %>-->
                      <span class="text-success"><strong>販売中</strong></span>
                    <!--% else %>-->
                      <!--<span class="text-danger"><strong>販売停止中</strong></span>-->
                    <!--% end %>-->
                  </td>
                </tr>
              </tbody>
            </table>

            <p>
              <%= link_to '編集する', class: "btn btn-success" %>
            </p>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

