<div class="text-success">
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <%= render 'public/items/left_menu', genres:@genres %>
    </div>
    <div class="col-md-9">

      <div class="card bg-dark" style="width: 652px; height: auto;">
        <img src="/assets/kari.jpeg" class="card-img" style="width: 650px; height: 300px;">
        <div class="card-img-overlay d-flex">
          <div class="m-auto">
            <div class="card-title">
              <p class="card-back p-2">
                ようこそ、ながのCAKEへ！<br>
                このサイトはケーキの販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top:20px; margin-bottom:20px;">
        <h3 class="font-weight-bold">新着商品</h3>
      </div>
        <%= render 'public/items/index', active_items:@active_items %>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to "全ての商品を見る >", items_path, class:"text-info" %>
  </div>
</div>
