body {
  display: flex;
  flex-flow: column;
}

header {
  background-color: #d05c62 !important
}

footer {
  background-color: rgb(165, 229, 255) !important;
}

.card_back {
  backgroundcolor: rgb(255, 255, 255) !important;
}