<div class="container">
  <div class="row">
    <div class="col-4 card text-center mx-auto mt-5" style="background-color:#fcfced">
      <h5 class="font-weight-bold mb-5 mt-5">ご注文ありがとうございました！</h5>
      <%= link_to "TOPページへ戻る", root_path, class:"btn mb-2", :style=>"color:#ee7800; background-color:#f2d58a;" %>
    </div>
  </div>
</div>
