<div class="d-flex flex-wrap mt-3">
  <% active_items.each do |item| %>
      <div class="mx-2 my-3">
        <%= link_to item_path(item) do %>
          <%= image_tag item.get_item_image, size:"150x140" %>
        <% end %>
        <div class="d-flex flex-wrap justify-content-center pt-2" style="width:150px;"><strong><%= item.name %></strong></div>
        <div class="text-center"><strong>￥<%= (item.price).to_s(:delimited) %></strong></div>
      </div>
  <% end %>
</div>
