<table class='table table-borderless'>
  <thead class="border border-dark">
    <tr>
      <th class="text-center px-0">ジャンル一覧</th>
    </tr>
  </thead>
  <tbody class="border border-dark">
    <% genres.each do |genre| %>
      <tr>
        <td class="pr-0">
          <%= genre.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
