<div class="serch_form">
    <%= form_with url: searchs_search_path,method: :get, local: true, placeholder: "Search" do |f| %>
    <%= f.text_field :content %>
    <%= button_tag type: "submit", class: "btn btn-default" do %>
      <i class="fas fa-search"></i>
      <% end %>
    <% end %>
</div>